<div>
    <div>
        <h2 style="font-family: 'Montserrat', sans-serif; text-align: center;">Please Choose the Index of Your Choosen Country:</h2>
    </div>
    <div id="ABC" style="text-align: center;">
        <button class="button" *ngFor="let letter of alphabet" (click)="showCountries(letter.val, letter.id)"><b>{{letter.val}}</b></button>
    </div>
    <router-outlet></router-outlet>
    <!-- <div *ngIf="show">
        <app-countries [passedLetter]="letter"></app-countries>
    </div> -->
</div>

